.home {
    max-width: 1200px;

    margin: 0 auto;
    padding: 20px;
}

.home-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.home-text {
    flex: 1 1 40rem;
    color: white;
}

.home-text h2 {
    font-size: 4rem;
}

.home-text p {
    font-size: 20px;
    padding: 20px 0;
}

.home-text .btn-start {
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #4646FD;
    border: none;
    border-radius: 20px;
}

.home .home-logo {
    flex: 1 1 40rem;
}

.home .home-logo img {
    width: 100%;
    height: 100%;
}


.home .Company-Section {
    padding: 20px 0;
    text-align: center;
    color: white;
}

.home .Company-Section h1 {
    font-size: 2.7rem;
    padding: 20px 0;
}

.home .Company-Section .partners {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    gap: 20px;
    margin: 0 auto;
}

.home .Company-Section .partners h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}

@media (max-width: 991px) {


    .home-text h2 {
        font-size: 3rem;
    }

    .home-text p {
        font-size: 2.4rem;
        padding: 20px 0;
    }

}

@media (max-width: 768px) {

    .home {
        height: 100%;
    }

    .home-text {
        text-align: center;
    }

    .home-text h2 {
        font-size: 3rem;
    }

    .home-text p {
        font-size: 2.4rem;
        padding: 20px 0;
    }

}