.csharpInfo{

  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;

  .csharp-info{

    display: flex;

    .info{
      color: white;
      width: 49%;
      line-height: 1.6;
      font-size: .9rem;
    }

    .info-photo{
      width: 49%;
      color: white;
      padding: 1rem;

      img{
        width: 100%;
        border-radius: 1rem;
      }

    }

  }

}


@media (max-width: 992px) {

  .csharpInfo {

    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;

    .csharp-info {

      display: flex;

      .info {
        color: white;
        width: 49%;
        line-height: 1.6;
        font-size: .7rem;
      }

      .info-photo {
        width: 49%;
        color: white;
        padding: 1rem;

        img {
          width: 100%;
          border-radius: 1rem;
        }

      }

    }


  }
}

@media (max-width: 768px) {

  .csharpInfo {


    margin: 0 auto;
    max-width: 1200px;

    .csharp-info {

      display: flex;

      .info {
        color: white;
        width: 49%;
        line-height: 1.6;

        .csharpinfo-text{
          p{
            font-size: 9px;

          }
        }
      }

      .info-photo {
        width: 49%;
        color: white;
        padding: 1rem;

        img {
          width: 100%;
          border-radius: 1rem;
        }

      }

    }


  }
}

@media (max-width: 700px) {

  .csharpInfo {


    margin: 0 auto;
    max-width: 1200px;

    .csharp-info {

      display: inline-block;
      justify-content: center;


      .info {
        text-align: center;
        color: white;
        width: 100%;
        line-height: 1.6;


        h1{
          font-size: 2rem;
        }

        .csharpinfo-text{
          p{
            font-size: 16px;

          }
        }

      }

      .info-photo {
        width: 100%;
        color: white;
        padding: 1rem;

        img {
          width: 100%;
          border-radius: 1rem;
        }

      }

    }


  }
}

@media (max-width: 450px) {

  .csharpInfo {

    padding: 0.4rem;
    margin: 0 auto;
    max-width: 1200px;

    .csharp-info {

      display: inline-block;
      justify-content: center;


      .info {
        text-align: center;
        color: white;
        width: 100%;
        line-height: 1.6;

        h1{
          font-size: 1.6rem;
        }

        .csharpinfo-text{
          p{
            font-size: 14px;

          }
        }

      }

      .info-photo {
        width: 100%;
        color: white;
        padding: 1rem;

        img {
          width: 100%;
          border-radius: 1rem;
        }

      }

    }


  }
}