header{

  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 0 2rem;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;

  .logo{

    max-width: 10rem;

    img{
      width: 100%;
    };
  }

  .Login{

    display: flex;
    align-items: center;

    button{
      padding: 0.5rem 1rem;
      font-size: 1.3rem;
      color: white;
      background-color: #4646fd;
      border-radius: 2.5rem;

    }
  }


}

@media (max-width: 768px) {

  header{

    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 0 1.2rem;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;

    .logo{

      max-width: 8rem;

      img{
        width: 100%;
      };
    }

    .Login{

      display: flex;
      align-items: center;

      button{
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        color: white;
        background-color: #4646fd;

      }
    }


  }
}

@media (max-width: 450px) {

  header{

    margin: 0 auto;
    margin-top: 1.5rem;
    padding: 0 0.7rem;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;

    .logo{

      max-width: 6.5rem;

      img{
        width: 100%;
      };
    }

    .Login{

      display: flex;
      align-items: center;

      button{
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        color: white;
        background-color: #4646fd;

      }
    }


  }
}