.Home{
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  height: 89vh;



  .home-about{
    display: flex;

    margin-top: 2rem;
    .start-section{
      display: block;
      max-width: 49%;
      margin-left: 1%;
      padding: 7rem 0 ;


      h3{
        color: white;
        font-size: 35px;
      }

      p{
        padding: 1rem 0;
        color: white;
        font-size: 16px;
      }

      .btn-start{
        margin-top: 1rem;
        display: inline-block;
        padding: 1rem;
        background-color: #4646fd;
        color: white;
      }

    }

    .logo-section{
      max-width: 49%;
      margin-left: 4rem;

      img{
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
      }
    }

  }

  .Thanks-for{
    max-width: 1200px;
    margin-top: 4rem;
    color: white;
    padding: 2rem 0;

    .thanks-text{
      text-align: center;
    }

    .partners{
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      font-size: 0.7rem;

      h2{
        text-align: center;
        margin-left: 1rem;
      }
    }



  }

}

@media (max-width: 768px) {
  .Home{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
    height: 89vh;



    .home-about{
      display: flex;

      margin-top: 2rem;
      .start-section{
        display: block;
        max-width: 49%;
        margin-left: 1%;
        padding: 2.5rem 0 ;


        h3{
          color: white;
          font-size: 25px;
        }

        p{
          padding: 1rem 0;
          color: white;
          font-size: 16px;
        }

        .btn-start{
          margin-top: 1rem;
          display: inline-block;
          padding: 1rem;
          background-color: #4646fd;
          color: white;
        }

      }

      .logo-section{
        max-width: 49%;
        margin-left: 4rem;

        img{
          width: 100%;
          display: flex;
          align-content: center;
          align-items: center;
        }
      }

    }

    .Thanks-for{
      margin-top: 4rem;
      color: white;
      padding: 2rem 0;

      .thanks-text{
        text-align: center;

        h1{
          font-size: 1.8rem;
        }

      }

      .partners{
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        h2{
          text-align: center;
          font-size: 1rem;
          margin-left: 1rem;
        }
      }



    }

  }
}

@media (max-width: 700px) {
  .Home{
    padding: 1rem 0.5rem;
    margin: 0 auto;
    max-width: 1200px;
    height: 89vh;


    .home-about{
      width: 100%;
      display: inline-block;
      text-align: center;
      margin-top: 2rem;

      .start-section{
        display: block;
        max-width: 100%;
        margin-left: 1%;
        padding: 2.5rem 0 ;


        h3{
          color: white;
          font-size: 1.8rem;
        }

        p{
          padding: 1rem 0;
          color: white;
          font-size: 1rem;
        }

        .btn-start{
          margin-top: 1rem;
          display: inline-block;
          font-size: 0.8rem;
          padding: 0.5rem;
          background-color: #4646fd;
          color: white;
        }

      }

      .logo-section{
        max-width: 14rem;
        margin: 0 auto;


        img{
          width: 100%;
          display: flex;
          align-content: center;
          align-items: center;
        }
      }

    }

    .Thanks-for{

      margin-top: 1rem;
      color: white;
      padding: 2rem 0;
      text-align: center;

      .thanks-text{
        font-size: 0.7rem;
      }

      .partners{
        display: inline-block;
        margin-top: 1rem;

        h2{
          margin: 0;
          text-align: center;
          margin-top: 1rem;
        }
      }



    }

  }
}
@media (max-width: 425px) {
  .Home{
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    height: 89vh;


    .home-about{
      padding: 0.5rem;
      width: 100%;
      display: inline-block;
      text-align: center;
      margin-top: 2rem;

      .start-section{
        display: block;
        max-width: 100%;
        margin-left: 1%;
        padding: 2.5rem 0 ;


        h3{
          color: white;
          font-size: 1.5rem;
        }

        p{
          margin: 0 auto;

          padding: 1rem 0;
          color: white;
          font-size: 15px;
        }

        .btn-start{
          margin-top: 1rem;
          display: inline-block;
          font-size: 1rem;
          padding: 0.5rem;
          background-color: #4646fd;
          color: white;
        }

      }

      .logo-section{
        max-width: 9rem;
        margin: 0 auto;


        img{
          width: 100%;
          display: flex;
          align-content: center;
          align-items: center;
        }
      }

    }

    .Thanks-for{

      margin-top: 1rem;
      color: white;
      padding: 2rem 0;
      text-align: center;

      .thanks-text{
        font-size: 0.7rem;
      }

      .partners{
        display: inline-block;
        margin-top: 1rem;

        h2{
          margin: 0;
          text-align: center;
          margin-top: 1rem;
        }
      }



    }

  }
}