*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;

  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}



html{

  height: 100%;
  background-color: #0B1B29;
}

.App{
  background-color: #0B1B29;

}

